.main {

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-title {
            color: #000000;
            font-size: 32px;
            line-height: 35.2px;
            font-family: "GothamProBold";
        }

        a {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            color: #1C426D;
            font-size: 14px;
            line-height: 15.4px;
        }
    }

    &__cards {
        display: grid;
        place-items: center;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        padding: 43px 0 90px;

        &-card {
            max-width: 380px;
            width: 100%;
            height: 100%;
            border: 1px solid #D9D9D9;
            border-radius: 10px;

            &:hover .main__card-img span {
                left: 0
            }

            output {
                display: block;
                width: 322px;
                height: 2px;
                background: #D9D9D9;
                z-index: 1;
                margin-left: 30px;
            }
        }
    }

    &__card {

        &-img {
            position: relative;
            padding: 7px 7px 0;
            overflow: hidden;

            span {
                position: absolute;
                top: 16px;
                left: -60%;
                background: #163C66;
                color: white;
                font-family: "GothamProBold";
                font-size: 24px;
                line-height: 26.4px;
                padding: 8px 22px;
                border-radius: 0 5px 30px 0;
                transition: 0.5s ease-in-out;
            }
        }

        &-title {
            color: #000000;
            font-size: 22px;
            line-height: 24.2px;
            padding: 15px 0;
            text-align: center;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px 27px 27px;
        }
    }

    &__info-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-self: start;
    }

    &__block {

        &-subtitle {
            color: #000000;
            line-height: 17.6px;
        }

        &-txt {
            color: black;
            font-family: "GothamProBold";

            span {
                font-family: "GothamProRegular";
            }
        }

    }

    &__customer {
        background: #163C66;
        color: white;

        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 109px 15px 226px;
        }

        &-title {
            font-size: 64px;
            left: 70.4px;
            font-family: "GothamProBold";
        }

        &-btns {
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                border: 1px solid #F2F8FF;
                outline: none;
                background: transparent;
                color: white;
                border-radius: 10px;
                padding: 20px 90px;
                font-size: 22px;
                line-height: 24.2px;
                cursor: pointer;
            }
        }
    }

}

.open .main__block-txt {
    color: #27901E;
    font-family: "GothamProBold";
}

.closed .main__block-txt {
    color: #901E1E;
    font-family: "GothamProBold";
}